/* Based */
@import "./normalize.css";
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding: 0 !important;
  align-content: center;
  border: none;
}

.section-wrapp {
  width: 100%;
  margin: 0;
}

.section-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section-header-logo,
.section-header-wrapper__title,
.section-promo-1__content,
.section-promo-2__item,
.section-plans,
.section-free {
  font-family: "Lato", sans-serif;
}

.section-header-wrapper__subtitle,
.section-header-wrapper__form,
.section-founder__content,
.section-free__description,
.section-futer,
.btn-main,
.btn-secondary,
.btn-free {
  font-family: "Montserrat", sans-serif;
}

.btn-main,
.btn-secondary,
.btn-free {
  font-size: 1.3em;
  border: none;
  border-radius: 4px;
  padding: 1.5rem 1.25rem;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 0;
}

.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  background: linear-gradient(to right, #918075, #c17215);
  color: white;
}

.btn-main:hover {
  background: linear-gradient(to left, #918075, #c17215);
  color: white;
}

.btn-secondary:hover {
  color: #c17215;
  border-color: #c17215;
}

.btn-secondary,
.btn-free {
  border: 1px solid rgba(68, 17, 68, 0.0666666667);
  background: white;
  color: #414141;
  transition: 0.2s;
}

.btn-free {
  border: none;
}

.btn-free:hover {
  color: black;
}

.btn-main .active {
  background-color: #f0fafd;
}

/* Based */
/* Enter Banner */
.section-header {
  color: white;
  background: url("../img/content/header-background-img1.jpg") no-repeat 50% 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section-header .section-inner {
  height: 100vh;
  position: relative;
  z-index: 10;
}
.section-header::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 39, 41, 0.6);
}
.section-header-logo {
  font-weight: bold;
  font-size: 1.5em;
  flex-shrink: 1;
  padding-top: 1.5rem;
}
.section-header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.section-header-wrapper {
  margin: 0 auto;
}
.section-header-wrapper__title, .section-header-wrapper__subtitle {
  text-align: center;
}
.section-header-wrapper__title {
  font-weight: bold;
  font-size: 3em;
  line-height: 1.5em;
  margin-bottom: 1rem;
}
.section-header-wrapper__subtitle {
  font-size: 1.3em;
  line-height: 2em;
  width: 80%;
  margin: 0 auto 2.5rem;
}
.section-header-wrapper__form {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.section-header-wrapper__form-input {
  flex: 1;
}
.section-header-wrapper__form-input input {
  width: 100%;
  font-size: 1.1em;
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  outline: none;
  margin: 0;
  padding: 1em 1.25em;
  transition: 0.2s;
}
.section-header-wrapper__form-input input::-moz-placeholder {
  color: white;
}
.section-header-wrapper__form-input input:-ms-input-placeholder {
  color: white;
}
.section-header-wrapper__form-input input::placeholder {
  color: white;
}
.section-header-wrapper__form-input input:focus {
  background: rgba(255, 255, 255, 0.5);
}

/* Enter Banner */
/* Promo, Benefits */
.section-promo {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-promo-first {
  display: flex;
}
.section-promo-first__content {
  flex-basis: 50%;
  padding-right: 90px;
}
.section-promo-first__content .title {
  font-size: 40px;
  line-height: 51px;
  font-weight: bold;
  margin-bottom: 56px;
}
.section-promo-first__content .subtitle {
  font-size: 22px;
  line-height: 18px;
  font-weight: bold;
  margin-top: 30px;
}
.section-promo-first__content .description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  margin-top: 14px;
}
.section-promo-first__video {
  flex-basis: 50%;
}
.section-promo-first__video img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.section-promo-second {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 86px 0px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2;
}
.section-promo-second__item {
  max-width: 30%;
}
.section-promo-second__item .icon {
  margin-bottom: 20px;
}
.section-promo-second__item .title {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 14px;
}
.section-promo-second__item .content {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

/* Promo, Benefits */
/* Quote */
.section-founder {
  background-color: rgba(211, 115, 8, 0.6);
  padding-top: 34px;
}
.section-founder .section-inner {
  display: flex;
  flex-direction: row;
}
.section-founder__img {
  display: flex;
  align-self: flex-end;
}
.section-founder__content {
  padding-left: 50px;
  align-self: center;
}
.section-founder__content-description {
  font-size: 24px;
  line-height: 40px;
}
.section-founder__content-name {
  padding-top: 8px;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}
.section-founder__content-post {
  font-size: 20px;
  line-height: 29px;
}

/* Quote */
/* Plans */
.section-plans {
  text-align: center;
  padding: 120px 0;
}
.section-plans__title {
  font-size: 36px;
  line-height: 51px;
  font-weight: bold;
}
.section-plans__subtitle {
  width: 50%;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  margin: 0 auto 80px;
}
.section-plans__list {
  display: flex;
  justify-content: center;
}
.section-plans__list .active {
  background-color: #f0fafd;
}
.section-plans__list-item {
  display: flex;
  flex-direction: column;
  flex-basis: 371px;
  justify-content: space-between;
  padding: 60px 45px;
}
.section-plans__list-item_price {
  margin-bottom: 26px;
}
.section-plans__list-item_price .prefix {
  font-size: 72px;
  line-height: 86px;
  font-weight: bold;
  color: #ee9322;
}
.section-plans__list-item_price .postfix {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.section-plans__list-item_title {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.section-plans__list-description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 50px;
}

/* Plans */
/* Subscribtion Banner */
.section-free {
  text-align: center;
  color: white;
  background: linear-gradient(to right, #918075, #c17215);
  padding: 120px 0;
}
.section-free__title {
  font-size: 55px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 26px;
}
.section-free__description {
  font-size: 20px;
  line-height: 30px;
  width: 50%;
  margin: 0 auto 40px;
}

/* Subscribtion Banner */
/* Futer */
.section-futer {
  padding: 80px 0;
}
.section-futer__logo {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-futer__nav {
  display: flex;
  justify-content: center;
  margin: 0 0 75px;
  padding: 0;
  list-style: none;
}
.section-futer__nav li {
  margin-right: 60px;
}
.section-futer__nav li:hover a {
  color: #dc8b2a;
}
.section-futer__nav a {
  margin-left: 60px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #464646;
  transition: 0.2s;
}
.section-futer__links {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
}

.helper-link {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.helper-link li {
  margin-right: 20px;
}
.helper-link li:hover a {
  text-decoration: underline;
}
.helper-link a {
  color: #464646;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */